<!DOCTYPE html>
<html lang="pt-BR">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Landing Page</title>
  <link rel="stylesheet" href="../static/css/index.css">
  <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon">
  <script defer src="../static/js/script.js"></script>
</head>

<body>
  <header class="navbar" id="navbar">
    <div class="logo">
      <img src="../static/images/logo.png" alt="Logo">
    </div>
    <nav class="menu" id="menu">
      <a href="#home">Home</a>
      <a href="#sobre">Sobre nós</a>
      <a href="#planos">Planos</a>
      <a href="#equipe">Equipe</a>
    </nav>

    <div class="buttons" <% if (!user) { %> style="margin-left: -97px;"<% } %>>
        <% if (user) { %>
          <img src="/static/uploads/<%= user.avatar_url || 'user.png' %>" alt="Avatar do Usuário" class="avatar"
            id="avatarBtn">

          <!-- Menu de usuário -->
          <div class="user-menu" id="userMenu">
            <a href="/perfil">Meu Perfil</a>
            <a href="/home">Dashboard</a>
            <a href="/logout">Sair</a>
          </div>
          <% } else { %>
            <a href="/login" class="btn btn-login">Entrar</a>
            <a href="/cadastro" class="btn btn-register">Cadastre-se</a>
            <% } %>
    </div>

    <!-- Botão hamburguer -->
    <div class="hamburger hidden" id="hamburger">
      ☰
    </div>
  </header>

  <!-- Hero -->
  <section class="hero" id="home">
    <div class="overlay"></div>
    <div class="hero-content">
      <h1>Bem-vindo!</h1>
      <p>
        Dedicandos é uma poderosa ferramenta para desenvolvedores projetada para construir plataformas escaláveis de exames online. 
      Com tecnologia de ponta, oferecemos uma variadade de anos de exames do ENEM disponíveis via API. Uma solução eficiente e fácil de criar provas e simulados para testar seus conhecimentos.
      </p>
    </div>
  </section>

  <!-- Outras seções -->
  <section id="sobre" class="sobre">
  <h2>Por que usar o Dedicandos?</h2>
  <p>
    Este projeto simplifica o desenvolvimento de sistemas de avaliação online com recursos como:
  </p>
  <ul style="display: flex; flex-direction: column; gap: 10px; text-align: left; margin-left: 20%; margin-top: 1%;">
    <li><strong>Busca por ano e disciplina:</strong> Permite que os usuários filtrem exames com base no ano e na disciplina desejada.</li>
    <li><strong>Armazenamento de questões selecionadas:</strong> Os usuários podem salvar questões de interesse para revisões futuras.</li>
    <li><strong>Alternativas corretas de fácil acesso:</strong> As alternativas corretas são armazenadas de forma que os usuários possam acessá-las rapidamente durante a resolução de questões.</li>
    <li><strong>Resolução de forma acessível:</strong> Em desenvolvimento.</li>
    <li><strong>Busca por temas específicos:</strong> Em desenvolvimento.</li>
  </ul>
</section>

  <section id="planos" class="planos">
    <h2>Planos</h2>
    <div class="planos-container">
      <div class="plano-card destaque">
        <h3>Básico</h3>
        <p>Ideal para começar</p>
        <span class="preco">R$19/mês</span>
        <button class="btn">Assinar</button>
      </div>
      <div class="plano-card destaque">
        <h3>Premium</h3>
        <p>O mais popular</p>
        <span class="preco">R$49/mês</span>
        <button class="btn">Assinar</button>
      </div>
      <div class="plano-card destaque">
        <h3>Empresarial</h3>
        <p>Para grandes equipes</p>
        <span class="preco">R$99/mês</span>
        <button class="btn">Assinar</button>
      </div>
    </div>
  </section>

  <section id="equipe" class="equipe">
    <h2>Equipe</h2>
    <div class="team-container">
      <div class="team-member">
        <img src="../static/images/matheus-icon.jpg" alt="Membro 1">
        <p class="name">Matheus Dos Santos Reis</p>
        <p class="role">Me chamo Matheus, gosto muito de infraestrutura e cyber segurança.</br> Nesse site, realizei a parte de escopo e desenvolvimento do backend.</p>
        <a class="github" href="https://github.com/matheuss-dsr">https://github.com/matheuss-dsr</a>
      </div>
      <div class="team-member">
        <img src="../static/images/gustavo-icon.jpg" alt="Membro 2">
        <p class="name">Gustavo Gomes Da Silva</p>
        <p class="role">Me chamo Gustavo, gosto muito de desenvolvimento web.</br> Nesse site, trabalhei na implementação das funcionalidades de frontend.</p>
      </div>
    </div>
  </section>


  <footer>
    <p>MR&GG</p>
    <div class="socials">
      <a href="#">Twitter</a>
      <a href="#">Instagram</a>
      <a href="#">Youtube</a>
    </div>
  </footer>
</body>

</html>